<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>
    <link rel="stylesheet" href="static/boggle.css">
</head>
<body>
    <table>
        <tbody>
            {% for row in session['board'] %}
                <tr>
                    {% for cell in row %}
                        <td>{{cell}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form id="id_guess" method="POST">
        <input type="text" placeholder="Make a guess" name="guess" id="id_input">
        <button id="butt">Enter</button>
    </form>
    <p class="HUD"> 
        Timer: <strong class="timer"></strong>
        Score: <strong class="score"></strong>
    </p>
    <p class="alert"></p>
    <ul class="answers"> Answers:

    </ul>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/boggle.js"></script>
</body>
</html>